
/*nav component style*/
*{
    font-family:"Georgia";
   

}
.addContainer{

    display: flex;
    justify-content: center;
    align-self: center;
  }
  .add-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    width: 50vw;
    margin-top: 2%;

    box-shadow:0 .5rem 1rem rgba(0,0,0,.4)
  }
  .add-title{
    color: #9057AD;  
  }
  .textarea {
   
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .textarea:focus {
    outline: none;
    border-color: #9057AD;
  }
  .button-from-add{
    border: none;
    color: white;
    padding:8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 60%;
    background-color: #9057AD;
    margin: 20px 0;
    font-family:"Georgia" 
  }
.Header{
    padding: 5px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    box-shadow:0 .5rem 1rem rgba(0,0,0,.2)
}
.Header ul {
    display: flex;
    list-style-type: none;
}

.Header ul li{
    display: flex;
    margin-right: 20px;
    font-size: 20px;
}
.logo{
    font-size: 20px;
    font-family:"Georgia"
}
.logo, .selected{
    color:#9057AD
}

.login-btn {
    background-color: #9057AD;
    border: none;
    color: white;
    padding:5px 10px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
}
.Link{
    background-color: #9057AD;
}
/*home component style*/
.header_section-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  
}
.header_title-home{
    font-size: 25px;
    margin-top: 20px;
    
}

.filter_category  {
    display: flex;
    list-style-type: none;
 
    
}

.filter_category  li{
    display: flex;
    font-size: 20px;
    margin-right: 20px;
}
.filter_items{
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    width: 82%;
    border: .1rem solid rgba(0,0,0,.1);
}
.filter_label{

    margin: 10px;
}

#price_filter {
    width: 150px;
    padding: 5px 35px 5px 5px;
    border: 1px solid #ccc;
    height: 34px;
    background: url(../../public/pages/price-tag.png) 96% / 15% no-repeat #eee;
}
.search{
    width: 30%;
    margin-left: 5%;
    height: 40px;
    display: inline-block;
    border: 1px solid #ccc;
 
    box-sizing: border-box;
}
.search-btn{
    height: 38px;   
    background-color: #9057AD;
    border: none;
    color: #ffff;
}

.search:focus{
    outline: none;
}
.landscape {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #f9f9f9;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: 5px;
  
}
.card_img{
    height:200px;
    width:200px;
    object-fit:cover;
    margin-bottom: 30px;
}
.card span{
    margin-bottom: 5px;  
}
.card p{
   margin-bottom: 5px; 
   font-weight: 600;
}
.card-btn{
    background-color: #9057AD;
    border: none;
    color: white;
    padding: 2px 52px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
}
.card-btn-delete{
    background-color: #9057AD;
    border: none;
    color: white;
    padding: 2px 70px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px; 
}

/*seller page*/
.seller-btn{
    background-color: #9057AD;
    border: none;
    color: white;
    padding: 2px 30px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;   
}
.icons{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    border-bottom:  .1rem solid rgba(0,0,0,.1);
    margin-bottom: 10px;
    
}
.icon{
    color: #9057AD;
    font-size: 25px;
    margin-right: 10px;
};
 /*login style*/

  /* add product page
  */

  

  /*filter*/
  #price_filter{
    padding: 8px 12px;
  
    background-color: #eeeeee;
    border: 1px solid #dddd;
    width: 20%;
    height: 38px;
  }
  #price_filter:focus{
    outline: none;
    border-color: #9057AD;
}
#price_filter option{
    background-color: #fff;
}
  .select{
      padding: 8px 12px;
  
      background-color: #eeeeee;
      border: 1px solid #dddd;
      width: 60%;
      height: 38px;
  }
  .select:focus{
      outline: none;
      border-color: #9057AD;
  }
  .select option{
      background-color: #fff;
  }
  /* details */
  .productBody{
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .single-product-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 55vw;
    min-height: 80vh;
    margin-top: 2%;
    background-color: #f9f9f9;
    border: .1rem solid rgba(0,0,0,.1);
}
.product_image{
    max-height: 400px;
    max-width:400px ;

}
.product_info{
    margin-top: 20px;
    max-width: 50%;
    min-height: 400px; 
    
}
.btn-single-product{
     border: none;
    color: white;
    padding:5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 80%;
    background-color: #9057AD;
    margin-top: 30px;
    font-family:"Georgia" 
}
.details{
    padding-right: 30px;
  margin-bottom: 20px;

}
.text{
    margin-bottom: 20px;
}
.goToDetails{
    color: #9057AD;
    cursor: pointer;

}
.buy-btn{
    background-color: #9057AD;
    border: none;
    color: white;
    padding: 2px 70px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    justify-content: flex-start;
}