
.landscape {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.category{
    color:gray  
}
.button {
    background-color: #9057AD;
    border: none;
    color: white;
    padding:5px 30px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
}
