.body{
  display: flex;
  justify-content: center;
  
}
.input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  height: 40px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
}
.nav_links {
  color: black;
  text-decoration: none;
}
.nav_links:hover {
  color: #9057ad;
}
.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 50vw;
  margin-top: 5%;
  background-color: aliceblue;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.4)

}
.body{

  display: flex;
  justify-content: center;
  align-self: center;
}
.header_title {
  font-size: 35px;
  margin-top: 20px;
}
textarea {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea:focus {
  outline: none;
}

.attr_links {
  color: #9057ad;
  text-decoration: none;
}
.form_button {
  margin: 20px;
}
.button-from-login{
  border: none;
  color: white;
  padding:8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 60%;
  background-color: #9057AD;
  margin: 20px 0;


}
