    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #fff;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 20px;
        border-bottom: 5px solid #C1C1C1;
    }
    ul {
        display: flex;
        list-style-type: none;
    }

    ul li{
        display: flex;
        margin-left: 20px;
        font-size: 25px;
    }
    .logo{
        font-size: 30px;
    }
    .logo, .nav_selected{
        color:#9057AD
    }

    .button {
        border: none;
        color: white;
        padding:5px 30px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        font-size: 20px;
        background-color: #9057AD;
    }


    /* HEADER */
    select {
        width: 150px;
        padding: 5px 35px 5px 5px;
        border: 1px solid #ccc;
        height: 34px;
        background: url(../../public/pages/price-tag.png) 96% / 15% no-repeat #eee;
    }

    .search{
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 34px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .search:focus{
        outline: none;
    }
    a{
        color:black;
        text-decoration: none;
    }
    a:hover{
        color: #9057AD;
    }

    .header_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .header_title{
        font-size: 35px;
        margin-top: 20px;
    }
    .filter_items{
        display: flex;
        align-items: center;
    }
    
    .filter_label{
        margin-left: 20px;
    }
    .filter_category{
        margin-right:20px
    }
    .card_img{
        height: 100%;
        width: 100%;
        object-fit:cover
    }

    .card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding:20px;
    }

    .landscape {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .category{
        color:gray  
    }
    