
.input{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 34px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input:focus{
    outline: none;
}
.nav_links{
    color: black;
    text-decoration: none;
}
.nav_links:hover{
    color: #9057AD;
}
.header_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 40px;
}
.header_title{
    font-size: 35px;
    margin-top: 20px;
}
textarea{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea:focus{
    outline: none;
}

.attr_links{
    color: #9057AD;
    text-decoration: none;
}
.form_button{
    margin: 20px;
}
