* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 20px;
        border-bottom: 5px solid #C1C1C1;
    }
    ul {
        display: flex;
        list-style-type: none;
    }

    ul li{
        display: flex;
        margin-left: 20px;
        font-size: 25px;
    }
    .logo{
        font-size: 30px;
    }
    .logo, .nav_selected{
        color:#9057AD
    }

    .button {
        background-color: #9057AD;
        border: none;
        color: white;
        padding:5px 30px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        font-size: 20px;
    }